<h1>Spis komentarzy</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Author</th>
    <th>Body</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%=h comment.post_id %></td>
    <td><%=h comment.author %></td>
    <td><%=h comment.body %></td>
    <td><%= link_to "Zatwierdź",  :method => :put%> | </td>
    <td><%= link_to "Usuń", , :method => :delete %> </td>

  </tr>
<% end %>
</table>

<br />

